body{
    margin:0;
    padding:0;
    background-color: blue;    
}
#countdown{
    display: flex;
    justify-content: center;
    padding:10%;
    color:white ;
    text-align: center;
    text-transform: capitalize;
    font-size: 500%;
}